@model List<ResultCarFeatureListByCarIdDto>
<div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
    <div class="row">
        @if (Model.Count > 0)
        {
            @foreach (var item in Model)
            {
                <div class="col-md-4">

                    <ul class="features">

                        @if (item.Available)
                        {
                            <li class="check"><span class="ion-ios-checkmark"></span>@item.FeatureName</li>

                        }
                        else
                        {
                            <li class="remove"><span class="ion-ios-checkmark"></span>@item.FeatureName</li>

                        }
                    </ul>
                </div>
            }


        }
        else
        {
            <div class="alert alert-warning">Araca Ait Özellik Bulunamadı</div>
        }


    </div>

</div>
